*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.top{
    width: auto;
    height: 80px;
    margin: 50px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.nav{ 
    font-size: 1.5rem;
    height: 50px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-img{
    width: auto;
    margin: 0 0 50px 0 ;
} 

.main span{
    width: auto;
    height: 80px;
    margin: 300px 0px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.goal{
    
}